<div class="auth-container">
       <div class="auth-card">

              <h2>Create an Account</h2>

              <form #form="ngForm" (ngSubmit)="register(form)">

                     <input [(ngModel)]="user.firstName" name="firstName" placeholder="First Name" required
                            [pattern]="patterns.NAME" #firstName="ngModel">

                     <small class="error" *ngIf="firstName.invalid && (firstName.touched || submitted)">
                            {{ messages.NAME }}
                     </small>

                      <input [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name" required
                            [pattern]="patterns.NAME" #lastName="ngModel">

                     <small class="error" *ngIf="lastName.invalid && (lastName.touched || submitted)">
                            {{ messages.NAME }}
                     </small>

                     <input [(ngModel)]="user.email" name="email" placeholder="Email" required email #email="ngModel">

                     <small class="error" *ngIf="email.invalid && (email.touched || submitted)">
                            {{ messages.EMAIL }}
                     </small>

                     <input [(ngModel)]="user.loginId" name="loginId" placeholder="Login ID" required minlength="8"
                            maxlength="20" #loginId="ngModel">

                     <small class="error" *ngIf="loginId.invalid && (loginId.touched || submitted)">
                            {{ messages.LOGIN_ID }}
                     </small>

                     <input [(ngModel)]="user.password" name="password" type="password" placeholder="Password" required
                            [pattern]="patterns.PASSWORD_PATTERN" #password="ngModel">

                     <small class="error" *ngIf="password.invalid && (password.touched || submitted)">
                            {{ messages.PASSWORD_PATTERN }}
                     </small>

                     <input [(ngModel)]="user.confirmPassword" name="confirmPassword" type="password"
                            placeholder="Confirm Password" required #confirmPassword="ngModel">

                     <small class="error"
                            *ngIf="(confirmPassword.touched || submitted) && user.password !== user.confirmPassword">
                            {{ messages.PASSWORD_MISMATCH }}
                     </small>

                     <input [(ngModel)]="user.contactNumber" name="contactNumber" placeholder="Contact Number" required
                            [pattern]="patterns.PHONE" #phone="ngModel">

                     <small class="error" *ngIf="phone.invalid && (phone.touched || submitted)">
                            {{ messages.PHONE }}
                     </small>

                     <button type="submit">Register</button>


              </form>
              <p style="margin-top:10px;">
                     Already have an account?
                     <a routerLink="/login">Login here</a>
              </p>

              <div *ngIf="successMessage" class="success-box">
                     {{ successMessage }}
              </div>

              <div *ngIf="errorMessage" class="error-box">
                     {{ errorMessage }}
              </div>

       </div>
</div>