<div class="auth-container">
  <div class="auth-card">

    <h2>Reset Password 🔑</h2>

    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">

      <!-- NEW PASSWORD -->
      <input
        type="password"
        id="newPassword"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="New Password"
        required
        [pattern]="patterns.PASSWORD_PATTERN"
        #newPasswordField="ngModel"
      >
      <div *ngIf="newPasswordField.invalid && (newPasswordField.dirty || newPasswordField.touched)">
        <small *ngIf="newPasswordField.errors?.['required']">
          {{ messages.REQUIRED }}
        </small>
        <small *ngIf="newPasswordField.errors?.['pattern']">
          {{ messages.PASSWORD_PATTERN }}
        </small>
      </div>

      <!-- CONFIRM PASSWORD -->
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
        [pattern]="patterns.PASSWORD_PATTERN"
        #confirmPasswordField="ngModel"
      >
      <div *ngIf="confirmPasswordField.invalid && (confirmPasswordField.dirty || confirmPasswordField.touched)">
        <small *ngIf="confirmPasswordField.errors?.['required']">
          {{ messages.REQUIRED }}
        </small>
        <small *ngIf="confirmPasswordField.errors?.['pattern']">
          {{ messages.PASSWORD_PATTERN }}
        </small>
      </div>
      <div *ngIf="confirmPassword && newPassword !== confirmPassword">
        <small>{{ messages.PASSWORD_MISMATCH }}</small>
      </div>

      <!-- SUBMIT BUTTON -->
      <button type="submit" [disabled]="resetForm.invalid || newPassword !== confirmPassword || loading">
        {{ loading ? 'Updating...' : 'Reset Password' }}
      </button>
    </form>

    <!-- LOADING SPINNER -->
    <div *ngIf="loading" class="spinner"></div>

   <div *ngIf="message" [ngClass]="{'success-box': success, 'error-box': !success}">
  {{ message }}
</div>

  </div>
</div>
