<div class="auth-container">
  <div class="auth-card">

    <h2>Reset Password 🔑</h2>

   <form #form="ngForm" (ngSubmit)="forgot(form)" novalidate>

                     <input [(ngModel)]="user.username" name="username" placeholder="Email or Login ID" required
                            #username="ngModel">

                     <small class="error" *ngIf="username.invalid && (username.touched || submitted)">
                            {{ messages.REQUIRED }}
                     </small>

                     <input [(ngModel)]="user.newPassword" name="newPassword" type="password" placeholder="New Password" required
                            [pattern]="patterns.PASSWORD_PATTERN" #newPassword="ngModel">

                     <small class="error" *ngIf="newPassword.invalid && (newPassword.touched || submitted)">
                            {{ messages.PASSWORD_PATTERN }}
                     </small>

                     <input [(ngModel)]="user.confirmPassword" name="confirmPassword" type="password"
                            placeholder="Confirm Password" required #confirmPassword="ngModel">

                     <small class="error"
                            *ngIf="(confirmPassword.touched || submitted) && user.newPassword !== user.confirmPassword">
                            {{ messages.PASSWORD_MISMATCH }}
                     </small>

                     <button type="submit" [disabled]="form.invalid || user.newPassword !== user.confirmPassword || loading">
                            {{ loading ? 'Updating...' : 'Reset Password' }}
                     </button>
              </form>

              <!-- SUCCESS -->
              <div *ngIf="successMessage" class="success-box">
                     {{ successMessage }}
              </div>

              <!-- ERROR -->
              <div *ngIf="errorMessage" class="error-box">
                     {{ errorMessage }}
              </div>
              

       </div>
</div>

